.process-card {
    max-width: 392px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include tablet {
        row-gap: 20px;
    }

    &__description {
        font-weight: 500;
    }

    &__title {
        position: relative;
        left: 81px;

        &::before {
            position: absolute;
            top: -131px;
            left: -86px;

            content: '0' counter(custom-counter);
            color: var(--color-accent-alt);
            font-weight: 400;
            font-size: 5em;
        }

        &:not(:last-child) {
            margin-bottom: 55px;
    
            @include tablet {
                margin-bottom: 25px;
            }
        }
    }

    &__image {
        height: auto;
    }
}