.section {
    padding-bottom: calc(var(--section-padding-y) * 2);

    @include tablet {
        --section-padding-y:30px;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 136px;

        @include desktop {
            column-gap: 20px;
        }

        @include tablet {
            flex-wrap: wrap;
            justify-content: start;
            row-gap: 15px;
        }
    }

    &__title {
        position: relative;
        max-width: 584px;
        width: 100%;
        color: var(--color-accent);

        &::before {
            position: absolute;
            content: attr(data-title);
            top: -40px;
            font-family: var(--font-family-base);
            font-size: 24px;
            color: var(--color-gray);
            font-weight: 600;
            line-height: 1.57;
        }
    }

    &__description {
        max-width: 731px;
        width: 100%;
        font-weight: 500;
    }

    &__hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - var(--header-height));
        background: url("../image/hero-bg.png") center no-repeat;
    }

    &__story {
        padding: 229px 207px 177px;
        background-color: var(--color-bg);

        @include desktop {
            padding: 150px 80px 80px;
        }

        @include mobile {
            padding: 70px 20px 60px;
        }
    }
}